{% extends "layout.twig" %}
{% block content %}

<section class="section main bloglist-page">
	{{widget('bloglistposts', 'bloglistposts1', {postDisplayType: "summary"})|raw}}
</section>

{% endblock %}