<footer class="template-footer">
	<div class="footer-content">
		{{widget('profile', 'footercolumn2profilecopyright', { 'profileType':'copyright', 'copyright':'profile'})|raw}}
		{{widget('profile', 'erjyrhgiureyge', { 'profileType':'socialicons', 'socialicons':'profile'})|raw}}
	</div>
</footer>